n8n/workflows/escalade_drh_contrat_non_renouvele.json
{
  "name": "GRH-Auto — Escalade DRH si contrat non renouvelé",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "trigger-schedule",
      "name": "Tous les jours à 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "jours_critique", "name": "jours_critique", "type": "number", "value": 7 },
            { "id": "drh_email", "name": "drh_email", "type": "string", "value": "drh@example.com" }
          ]
        }
      },
      "id": "set-config",
      "name": "Configuration (seuil critique + DRH)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "notes": "jours_critique = fenêtre d'alerte considérée urgente (contrat pas encore renouvelé). Ajustez sans toucher au reste du workflow."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GRH_AUTO_URL }}/api/n8n/contrats-expirants/",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "jours", "value": "={{ $json.jours_critique }}" }] },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "http-contrats-critiques",
      "name": "GET contrats critiques",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": { "httpHeaderAuth": { "id": "grh-auto-token", "name": "GRH-Auto API Token" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-contract",
              "leftValue": "={{ $json.employee_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-results",
      "name": "Contrat non renouvelé trouvé ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GRH_AUTO_URL }}/api/n8n/mails/envoyer/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ destinataire_email: $('Configuration (seuil critique + DRH)').first().json.drh_email, destinataire_nom: 'DRH', sujet_demande: 'ESCALADE : contrat non renouvelé — ' + $json.prenom + ' ' + $json.nom, prompt_override: 'Tu es un assistant RH. Rédige une alerte urgente et professionnelle en français pour le DRH : le contrat de ' + $json.prenom + ' ' + $json.nom + ' (' + $json.departement + ') expire le ' + $json.date_fin + ' (dans ' + $json.jours_restants + ' jours) et n\\'a pas encore été renouvelé. Demande une décision rapide.\\nRéponds strictement au format:\\nSUJET: <objet>\\nCORPS:\\n<corps>' }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "http-escalade",
      "name": "POST escalade DRH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -80],
      "credentials": { "httpHeaderAuth": { "id": "grh-auto-token", "name": "GRH-Auto API Token" } }
    }
  ],
  "connections": {
    "Tous les jours à 8h": { "main": [[{ "node": "Configuration (seuil critique + DRH)", "type": "main", "index": 0 }]] },
    "Configuration (seuil critique + DRH)": { "main": [[{ "node": "GET contrats critiques", "type": "main", "index": 0 }]] },
    "GET contrats critiques": { "main": [[{ "node": "Contrat non renouvelé trouvé ?", "type": "main", "index": 0 }]] },
    "Contrat non renouvelé trouvé ?": { "main": [[{ "node": "POST escalade DRH", "type": "main", "index": 0 }], []] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "grh-auto-template" }
}
